#Texto {
    font-family: cursive;
    color: White;
    font-size: 50px;
    text-align: center;
    

}
.text {
    background-color: red;
    border-radius: 50px;
}
.Div {
    background-image: linear-gradient(red,yellow);
    width: 350px;
    height: 250px;
    margin: 0 auto;
    border-radius: 25px;
}
#LX {
    text-align: center;
    font-family: cursive;
    color: rgb(255, 255, 255);
}
#LX1 {
    text-align: center;
    font-family: cursive;
    color: rgb(255, 0, 0);
}
#LX2 {
    text-align: center;
    font-family: cursive;
    color: rgb(21, 255, 0);
}
#LX3 {
    text-align: center;
    font-family: cursive;
    color: rgb(208, 255, 0);
}
#Flor {
    width: 100px;
    height: 100px;
}
#Dividido {
    
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    animation-name: Animación;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
#Flor {
width: 100px;
height: 100px;
}
@keyframes Animación {
    0% {left: 0px;}
    25%{left: 1200px;}
    50%{left: 0px;}
    75%{left: 1200px;}
    100%{left: 0px;}
}